<form ng-show="hc.composeBlog" ng-submit="hc.updateBlog()" class="form-horizontal">
          <div class="form-group">
            <div class="col-md-2">
              <label for="title"  class=" control-label">Title of the blog :</label>
            </div>

            <div class="col-md-10">
              <input ng-model="hc.blog.blogTitle" type="text" class="form-control" id="title"> </input>
            </div>
            
          </div>
          <div class="form-group">
           <div class="col-md-2">
            <label for="author" class="control-label">Author :</label>
          </div>

          <div class="col-md-10">
            <input ng-model="hc.blog.authorName" type="text" class="form-control" id="author">
          </div>

        </div>
        <div class="form-group">
          <div class="col-md-2">
            <label for="blog" class="control-label">BlogText :</label>
          </div>
          <div class="col-md-10">
            <textarea ng-model="hc.blog.enteredText" class="form-control" id="blog" rows="10"></textarea>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-2">
            <label for="publishId" class="control-label">Publish :</label>
          </div>
          <div class="col-md-10">
            <select class="form-control" id="publishId" ng-model="hc.blog.published">
              <option value="true">published</option>
              <option value="false"=>unpublish</option>          
            </select>
          </div>
        </div>

        <div>
          
        </div>

        <div class="form-group">
          <div class="col-md-2"> </div>
          <div class="col-md-10"> 
            <button type="Submit" class="btn btn-primary btn-lg btn-block">Create Blog</button>
          </div>
        </div>

      </form>